<!DOCTYPE html>
<html>
<head>
  <title>Dummy Journal</title>
  <%= javascript_include_tag "maeku/application" %>
  <% if Rails.env.development? %>
    <%= javascript_include_tag "maeku/editor/editor.dev" %>
    <%= stylesheet_link_tag "maeku/editor/editor.dev" %>
  <% else %>
    <%= javascript_include_tag "maeku/editor/editor" %>
    <%= stylesheet_link_tag "maeku/editor/editor" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <% end %>
  <%= yield %>
</body>
</html>
