<!DOCTYPE html>
<html>
<head>
  <title>Journal</title>
  <%= stylesheet_link_tag    "journal/application", media: "all" %>
  <%= javascript_include_tag "journal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  <% end %>
  <%= yield %>
</body>
</html>
